services:
  - type: web
    name: fermeduvardier-api
    runtime: node
    region: frankfurt
    rootDir: backend
    buildCommand: npm ci && npm run db:generate && npm run db:push && npm run build
    startCommand: npm run start
    plan: free
    envVars:
      - key: NODE_ENV
        value: production
      - key: DATABASE_URL
        sync: false
      - key: REDIS_URL
        sync: false
      - key: FRONTEND_URL
        sync: false
      - key: PORT
        value: 3001
